.banner {
    height: 19.6875rem;
    /* position: relative; */
    width: 100%;
    height: 18.375rem;
    background: #d2edfa;
    overflow: hidden;
}

@media screen and (min-width: 768px){
    .main{
        padding: 4rem 0 5rem;
    }
    
    .realty_title{
        line-height: 1.38;
        font-size: 2.625rem;
        margin: 3.75rem 0 2.5rem;
    }

    .realty_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .realty_wrapper {
        padding: 1.25rem 0;
        flex-basis: 48%;
    }
    
    .realty_01 {
        display: flex;
        flex-direction: row;
    }
    
    .img_wrapper {
        min-width: 10.8rem;
        min-height: 10.8rem;
    }

    .realty_img{
        border-radius: 0.5rem;
    }

    
    .content_title{
        line-height: 1.32;
        font-size: 1.8rem;
    }

    .content_address{
        line-height: 1.4;
        font-size: 1.4rem;
    }

    .content_price{
        line-height: 1.36;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.section_02{
    max-width: 76rem;
    margin: 0 auto;
}

.realty_title{
    font-weight: 700;
}

.realty_content {
    width: 100%;
}

.img_wrapper {
    position: relative;
}

.img_wrapper2 {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.realty_img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content_wrapper {
    margin-left: 1rem;
}

/* .content_title{
    line-height: 1.36;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.content_address{
    color: var(--common-sub-color);
}