/* 루트 */
/* daangn.css 에서 참고해서 작성하세요! */

:root {
    /* 폰트 사이즈 */
    --bnr-main-size: 4.8rem;
    --bnr-sub-size: 1.8rem;

    --common-context-size: 1.4rem;
    --common-inner-size: 1.2rem;

    --desc-main-size: 1.8rem;
    --desc-sub-size: 1.4rem;

    /* 폰트 컬러 */
    --brand-main-color: #fa6616;
    --brand-sub-color-lv5: #ff6f0f;
    --brand-sub-color-lv4: #ff9e66;
    --brand-sub-color-lv3: #ffbc97;
    --brand-sub-color-lv2: #ffd2b9;
    --brand-sub-color-lv1: #ffe2d2;

    --article-bg-color: #08c;
    --article-bg-color-lv5: #009ceb;
    --article-bg-color-lv4: #57c7ff;
    --article-bg-color-lv3: #87d7ff;

    --common-main-color: #000;
    --common-sub-color: #a7a7a7;
    --common-inner-color: #ccc;
    --common-line-color: #eee;

    --temperature-color: #dea651;

    --realty-banner-color: #009ceb1a;
}
